.stack{
  margin-top: 350px;
}
.title{
  font-size:48px;
  color: #42446E;
  font-family: Poppins,serif;
  font-weight: bold;
  display: flex;
  margin-left: 600px;
  margin-right: auto;
}
.text{
  font-family: Poppins,serif;
  font-size: 32px;
  color: #666666;
  margin-left: 423px;
}
.tech{
  margin-left: 184px;
  margin-top: 150px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 1200px;
  gap:100px;
}