.header{
 display: flex;
  flex-direction: row;
}
.img{
  width: 97px;
  height: 59px;
  margin-top: 31px;
  margin-left: 177px;
  @media screen and (max-width: 1440px){
    margin-left: 100px;
  }
  @media screen and (max-width: 1024px){
    width: 77px;
    height: 50px;
    margin-left: 17px;
  }
}
.list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap:60px;
  margin-top: 49px;
  margin-left: 306px;
  @media screen and (max-width: 1440px){
    margin-left: 200px;
  }
  @media screen and (max-width: 1024px){
    margin-left: 30px;
    gap:50px;
  }
}
.item{
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color:#666666;
  cursor: pointer;
  text-decoration: none;
  @media screen and (max-width: 1024px){
    font-size: 16px;
  }
}
.icons{
  margin-top: 47px;
  display: flex;
  gap:22px;
  position: absolute;
  right: 430px;
  @media screen and (max-width: 1600px){
    margin-left: 51px;
    position: absolute;
    right: 130px;
  }
  @media screen and (max-width: 1024px){
   right: 100px;
  }
}
.icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
}