footer{
  position: relative;
  height: 146px;
  @media screen and (max-width: 768px) {
   height: 80px;
  }
  @media screen and (max-width: 414px) {
    height: 40px;
  }
}
.list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap:60px;
  margin-top: 60px;
  margin-left: 190px;
  @media screen and (max-width: 1440px){
    margin-left: 100px;
  }
  @media screen and (max-width: 1024px) {
    margin-left: 30px;
    gap:20px;
  }
  @media screen and (max-width: 768px) {
    margin-left: 0;
    gap: 10px;
  }
  @media screen and (max-width: 414px) {
    margin-top: 10px;
    margin-left: -30px;
  }
}
.item{
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:#42446E;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    color: #404040;
  }
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  @media screen and (max-width: 414px) {
    font-size: 6px;
  }
}
.text{
  font-family: Poppins, serif;
  font-weight: 400;
  color: #666666;
  font-size:18px;
  position: absolute;
  right: 180px;
  bottom:106px;
  @media screen and (max-width: 1440px){
    right: 100px;
  }
  @media screen and (max-width: 1024px) {
    right: 30px;
    bottom: 102px;
  }
  @media screen and (max-width: 768px) {
   font-size: 14px;
    bottom: 45px;
  }
  @media screen and (max-width: 414px) {
    font-size:6px;
    bottom: 24px;
  }
}
.name{
  background: linear-gradient(90deg, #00C0FD 0%, #7A62D1 3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.coffee{
  background: linear-gradient(90deg, #00C0FD 0%, #E70FAA 3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.love{
  background: linear-gradient(90deg, #7A62D1  90%, #E70FAA  1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}